<h1>Formula 1 Car Collection</h1>

<div class="row">
  <% @cars.each do |car| %>
    <div class="col-md-3" onclick="window.location = '/cars/<%= car.id %>'">
      <p class="title"><%= link_to car.name, car %> - <%= car.year %></p>
      <img src="<%= car.image %>" class = "img-responsive">
    </div>
  <% end %>
  </div>
</div>